.addCard {
    width: 250px;
    display: flex;
    padding: 20px;
    min-height: 150px;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: color-mix(in srgb, white 95%, var(--lightBackground) 5%);
}

.addCard i {
    font-size: 60px;
    margin-bottom: 0;
}

.addCard h1 {
    margin-top: 0;
    margin-bottom: 0;
}

.addCard:hover {
    background-color: color-mix(in srgb, black 10%, var(--lightBackground) 90%);
}

/* Dark Theme */
.addCard.darkTheme {
    background-color: color-mix(in srgb, white 5%, var(--darkBackground) 95%);
}

.addCard.darkTheme:hover {
    background-color: color-mix(in srgb, black 90%, var(--darkBackground) 10%);
}