.locationCardList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    justify-items: center;
}

.locationCardList .location {
    position: relative;
}

.locationCardList .location .deleteBtn {
    top: -1em;
    z-index: 1;
    opacity: 0;
    right: -1em;
    border: none;
    float: right;
    margin: 3px 0;
    font-size: 17px;
    cursor: pointer;
    margin-bottom: 0;
    font-weight: 500;
    position: absolute;
    padding: 10px 15px;
    border-radius: 5px;
    letter-spacing: 2px;
    color: var(--darkText);
    transition: opacity 0.3s;
    transition: transform 0.5s;
    background-color: var(--primary);
}

.locationCardList .location:hover .deleteBtn {
    opacity: 1;
    transition: all 0.5s;
}

.locationCardList .location .deleteBtn:hover {
    box-shadow: 1px 1px 20px 5px rgba(140,0,255,0.34);
}

/* Responsiveness */
@media only screen and (max-width: 675px) {
    .locationCardList {
        display: flex;
        width: 100%;
        align-items: center;
        flex-direction: column;
    }
}