.locationCard {
    width: 250px;
    display: flex;
    padding: 20px;
    min-height: 150px;
    border-radius: 5px;
    text-align: center;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: color-mix(in srgb, white 95%, var(--lightBackground) 5%);
}

.locationCard i {
    font-size: 60px;
    margin-bottom: 0;
}

.locationCard h1 {
    margin-top: 0;
    margin-bottom: 0;
}

.locationCard .description {
    margin: 0;
    font-size: 16px;
    color: color-mix(in srgb, white 60%, var(--lightText) 40%);
}

.locationCard:hover {
    background-color: color-mix(in srgb, black 10%, var(--lightBackground) 90%);
}

/* Dark Theme */
.locationCard.darkTheme {
    border: 1px solid var(--darkBackground);
    background-color: color-mix(in srgb, white 5%, var(--darkBackground) 95%);
}

.locationCard.darkTheme:hover {
    border: 1px solid var(--accent);
    background-color: color-mix(in srgb, black 50%, var(--darkBackground) 50%);
}